[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "qryflow"]
	path = qryflow
	url = https://github.com/christian-million/qryflow
